* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;  
}
html {
font-size: 62.5%;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  width: 100%;
  min-width: 320px;
  height: 220px;
  text-align: center;
  background: linear-gradient(207.8deg, #010B62 16.69%, #24D38A 100%);
}
header img {
  width: 125px;
  height: 125px;
  border-radius: 25px;
  margin-top: 20px;
  align-self: center;
}
.header--title-container {
  width: 90%;
  min-width: 286px;
  max-width: 900px;
  height: 190px;
  margin-top: 15px;
  text-align: center;
  align-self: center;
}
.header--title-container h1 { 
  font-size: 2.4rem; 
  font-weight:bold;
  line-height: 2.6rem; 
  color: white;
}
.header--title-container p {
  margin-top: 15px;
  font-size: 1.2rem;
  font-weight: 400px;
  line-height: 1.4rem;
  color: #ECECEC;
}
main {
  width: 100%;
  height: auto;
  background-color: #faf8f7;  
}
.main-product-detail {
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 20px 10px;
}
.product-detail--card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  min-width: 286px; 
  max-width: 400px;
  height: auto;
  margin: 15px auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.product--card-title {
  width: 90%; 
  min-width: 286px;
  height: auto;
  margin: 0 auto;
  margin-top: 25px;
  text-align: center; 
  margin-bottom: 15px;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.9rem;
  color:black;
}
.product-detail--card img {
  width: 100%;
  min-width: 200px; 
  max-width: 260px;
  margin: 0 auto; 
  border-radius: 50px;  
  margin-bottom: 20px;
}
.product--card-description {
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: normal;
  text-align: center;
  padding: 5px 45px;
  margin-bottom: 20px;
}
.main-img {
  display: flex;
  flex-direction: column; 
  width: 100%;
  height: auto;
  align-items: center;
}
.img--card img {
max-width: 320px;
margin: 0 auto;
}
.footer {
  width: 100%;
  height: 80px;
  background-color: #010B62;
  display:flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.footer-contact ul li {
  display: inline-block;
  margin-right: 35px;
  list-style: none;
  color: white;
  font-size: 1.4rem;
  line-height: 1.6px;
}
.footer-contact a {
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: white;
  text-decoration: none;
}
.footer-contact a:hover {
  text-decoration: underline;
}